{% extends 'templates/default.twig' %}

{% block title %} Invoice {% endblock %}	
 
{% block headContent %} INVOICE {% endblock %}

{% block content %}
<div class="row ">
	<div class="col-md-3">
		<div class="box box-body box-primary">
			<div class="text-center">
				<h4>POS BOOK STORE</h4>
				<p>Jl. PADEPOKAN NO.08 KOTABARU</p>
				<p>Telp. 0274 - 378920</p>
			</div>
			<hr>
				<p class="h4">Faktur Penjualan</p>
				<p>No. Faktur : {{ invoice.no_invoice }}</p>
				<p>Tanggal : {{ invoice.create_at | date("d-M-Y | H:i") }}</p>
				<p>Operator : {{ invoice.name }}</p>
			<hr>
			{% set subTotal = 0 %}
			{% for invoice in invoices %}
			{% set subTotal = invoice.price * invoice.quantity %}
			    <div class="row">
				    <div class="col-md-12">{{ invoice.title }}</div>
				    <div class="col-md-1 text-center">{{ invoice.quantity }}</div>
				    <div class="col-md-1 text-center">x</div>
					<div class="col-md-3 text-right">{{ invoice.price |
						number_format }}</div>
				    <div class="col-md-6 text-right">{{ subTotal | 
				    	number_format }}</div>
			    </div>
			{% endfor %}
			<hr>
			<div class="row">
				<div class="col-md-6">Harus Bayar</div>
				<div class="col-md-6 text-right">{{ invoice.total_paid |
					number_format}} IDR</div>
				<div class="col-md-6">DiBayar</div>
				<div class="col-md-6 text-right">{{ invoice.be_paid |
					number_format}} IDR</div>
				<div class="col-md-6">Kembali</div>
				<div class="col-md-6 text-right">{{ invoice.refund | number_format }} IDR</div>
			</div>
			<hr>
			<div class="text-center">
				<p>Produk yang sudah dibeli, 
					<strong>tidak dapat dikembalikan</strong>
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}