{% extends 'templates/default.twig' %}

{% block title %} POS | Point Of Sale {% endblock %}

{% block content %}

<div class="container" style="margin-top:30px">
	<div class="col-md-8 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading"><h3 class="panel-title"><strong>Edit Book</strong></h3></div>
			<div class="panel-body">
				<form action="{{ path_for('product.edit.post', {id: product.id}) }}" method="POST">
					{% if errors %}
					<div class="alert alert-danger">
						<a class="close" data-dismiss="alert" href="#">x</a>Mohon isi data produk dengan benar!
					</div>
					{% endif %}
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-7">
							<div class="form-group {{ errors.title ? 'has-error' : '' }}">
								<label for="title">Title</label>
								<input type="text" name="title" id="title" class="form-control" value="{{ product.title }}">
								{% if errors.title %}
								<span class="help-block">{{errors.title | first}}</span>
								{% endif %}
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-5">
							<div class="form-group {{ errors.category_id ? 'has-error' : '' }}">
								<label for="category_id">Category</label>
								<select name="category_id" class="form-control">
									<option value="1"{% if( product.category_id =='1') %} echo ' selected="selected"'{% endif %}>Religion</option>
									<option value="2"{% if( product.category_id =='2') %} echo ' selected="selected"'{% endif %}>Biography</option>
									<option value="3"{% if( product.category_id =='3') %} echo ' selected="selected"'{% endif %}>Technology</option>
									<option value="4"{% if( product.category_id =='4') %} echo ' selected="selected"'{% endif %}>Fiction</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-7">
							<div class="form-group {{ errors.price ? 'has-error' : '' }}">
								<label for="price">Price</label>
								<input type="number" name="price" id="price" class="form-control" value="{{ product.price }}">
								{% if errors.price %}
								<span class="help-block">{{errors.price | first}}</span>
								{% endif %}
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-5">
							<div class="form-group {{ errors.image ? 'has-error' : '' }}">
								<label for="image">Image</label>
								<input type="text" name="image" id="image" class="form-control" value="{{ product.image }}">
								{% if errors.image %}
								<span class="help-block">{{errors.image | first}}</span>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-12">
							<div class="form-group {{ errors.short_desc ? 'has-error' : '' }}">
								<label for=short_desc>Description</label>
								<textarea name="short_desc" id="short_desc" class="form-control">{{ product.short_desc }}</textarea>
								{% if errors.short_desc %}
								<span class="help-block">{{errors.short_desc | first}}</span>
								{% endif %}
							</div>
						</div>
					</div>
					<center><button type="submit" class="btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i>  SAVES</button></center>
					<hr style="margin-top:10px;margin-bottom:10px;" >
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
