{% extends 'templates/default.twig' %}
{% block title %}Trash User {% endblock %}

{% block headContent %} Trash User  <a href="" title="Trash User" data-toggle="tooltip" data-placement="bottom"><i style="color:red" class="fa fa-trash-o"></i></a>
 {% endblock %}
	{% block content %}
			<section class="content">
				<div class="row">
	<div class="col-xs-12">
    <div class="panel panel-default">
	    <div class="panel-body">
	    	<table id="example2" class="table table-bordered table-striped table-hover">
	    <thead>
			<tr>
		    	<th class="col-md-1 text-center">No</th>
				<th >Name</th>
		        <th>Username</th>
				<th>Start Registration</th>
				<th>Option</th>
		     </tr>
	        	</thead>
	    </thead>
	    <tbody>
	    	{% for data in trash %}
	    	{% set i = i + 1 %}
	         <tr>
			   <td class="text-center" >{{i}}</td>
			    <td>{{data.name}}</td>
			    <td>{{data.username}}</td>
			    <td>{{data.create_at}}</td>
			    <td>
			         <a href="{{path_for('user.restore' , {('id'): data.id})}}" title=" Restore Data" data-toggle="tooltip" data-placement="left"><i class="fa fa-refresh"></i></a></button>

			         <a href="{{path_for('user.delete' , {('id'): data.id})}}" data-toggle="tooltip" data-placement="right" title=" Delete Permanent" style="color:red" ><i class="fa fa-times"></i></a>

			    </td>
			</tr>
			{% endfor %}
	    	</table>
	    </div>
	</div>
</div>
	{% endblock %}